<%= stylesheet_link_tag "about" %>
<div id='main'>
  <h2>About</h2>
  <p class='description'>Software engineer with 5+ years expiriense</p>
  <p>Describing my background, my goals, and my technical skills.</p>
</div>